@section title{
    <title>Liste des Conseil des Plante</title>
}

<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-windows"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2> Conseil Plante</h2>
                                    <p>Liste des Conseils Plante</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcomb area End-->
<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Text_Arabe</th>
                                    <th>Text_Francais</th>
                                    <th>Audio</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (ConseilTerre c in ViewBag.conseilTerre)
                                {
                                    <tr>
                                        <td>@c.Text_Arabe</td>
                                        <td>@c.Text_Francais</td>
                                        <td>
                                        <div class="audio-player">
                                            <audio class="audio" src="~/Audio/@c.Audio"></audio>
                                            <div class="audio-controls">
                                                <button class="play-btn">Play</button>
                                                <button class="pause-btn">Pause</button>
                                                <button class="stop-btn">Stop</button>
                                            </div>
                                            <div class="audio-time">0:00 / 0:00</div>
                                            <div class="audio-seek-bar">
                                                <div class="audio-progress"></div>
                                            </div>
                                        </div>
                                        </td>
                                        <td>@c.webMaster.Nom</td>
                                        <td>
                                            <a class="btn btn-success success-icon-notika btn-reco-mg btn-button-mg " href="Resultat?id=@c.Id" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="resultat pour cette Conseil" title="" data-original-title="Resultat">
                                                <i class="notika-icon notika-draft"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>