@model Fallah_App.Models.User
@section title
    {
    <title>Modifier mot de passe</title>
}
<form method="post">
    <div class="breadcomb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcomb-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-icon">
                                        <i class="notika-icon notika-windows"></i>
                                    </div>
                                    <div class="breadcomb-ctn">
                                        <h2>Modifier mot de passe</h2>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-element-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-element-list mg-t-30">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group ic-cmp-int float-lb floating-lb">
                                    <div class="form-ic-cmp">
                                        <i class=""></i>
                                    </div>
                                    <div class="nk-int-st">
                                        <label>Mot de passe actuel</label>
                                        <input type="password" asp-for="Password" class="form-control input-lg">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                        <span class="text-danger">@ViewBag.error</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group ic-cmp-int float-lb floating-lb">
                                    <div class="form-ic-cmp">
                                        <i class=""></i>
                                    </div>
                                    <div class="nk-int-st">
                                        <label>nouveau mot de passe</label>
                                        <input type="password" name="NvPassword" class="form-control input-lg">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group ic-cmp-int float-lb floating-lb">
                                    <div class="form-ic-cmp">
                                        <i class=""></i>
                                    </div>
                                    <div class="nk-int-st">
                                        <label>Re-taper le nouveau mot de passe</label>
                                        <input type="password" asp-for="PasswordConfirmation" class="form-control input-lg">
                                        <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group ic-cmp-int float-lb form-elet-mg">
                                    <div class="nk-int-st">
                                        <input type="submit" class="btn btn-lightblue" value="valider" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
