@model List<Fallah_App.Models.Notification>
@section title{
    <title>Liste des Notification</title>
}

<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">

                    <div class="row">
                        <h3>List des Notifications</h3>
                        <a class="btn btn-success notika-btn-success waves-effect btn-lg " href="ajouter" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Ajouter Notification" title="" data-original-title="Ajouter">
                            Ajouter
                        </a>


                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-windows"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>@ViewBag.notif</h2>
                                  


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcomb area End-->
<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                
                <div class="data-table-list">
                  
                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>text français</th>
                                    <th>text arabic</th>
                                    <th>type</th>
                                    <th>action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Notification N in Model)
                                {
                                    <tr>
                                        <td>@N.TextFrancais</td>
                                        <td>@N.TextArabe </td>
                                        <td>@N.type</td>
                                        <td>

                                            <a class="btn btn-success success-icon-notika btn-reco-mg btn-button-mg sa-warning" data-confirm="Modifier" data-text=" Le Notification  vas etre Modifier " data-href="/Notification/Modifier/@N.Id" data-trigger="hover" data-toggle="popover" data-placement="top"  title="" data-original-title="modifier">
                                                <i class="notika-icon notika-edit"></i>
                                            </a>
                                            <a class="btn btn-deeporange deeporange-icon-notika btn-reco-mg btn-button-mg sa-warning" data-confirm="Supprimer" data-text="Le Notification  vas etre supprimer" data-href="/Notification/Supprimer/@N.Id" data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="supprimer">
                                                <i class="notika-icon notika-close"></i>
                                            </a>
                                            <a class="btn btn-lightblue lightblue-icon-notika btn-reco-mg btn-button-mg sa-warning" data-confirm="envoyer" data-text="Le Notification  vas etre Envoyer pour tous les agriculteures" data-href="/Notification/Broadcast/@N.Id" data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="envoyer pour tous les agriculteures">
                                                <i class="notika-icon notika-next"></i>
                                            </a>
                                            <a class="btn btn-teal lightblue-icon-notika btn-reco-mg btn-button-mg sa-warning" data-href="/Notification/Specefic/@N.Id" data-trigger="hover" data-toggle="popover" data-placement="top" title="" data-original-title="envoyer pour un ou des agriculteures spécifique">
                                                <i class="notika-icon notika-next"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    
                                    <th>text français</th>
                                    <th>text arabic</th>
                                    <th>type</th>
                                    <th>action</th>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 