@section title{
    <title>List des Notification</title>
}

<div class="data-table-area">
    <div class="container">
        <div class="row">


            <div class="data-table-list">

                <div class="table-responsive">
                    <table id="data-table-basic" class="table table-striped">
                        <h4>list des notification vu</h4>
                        <thead>

                            <tr>
                                <th>contenu</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var N in ViewBag.listNotifSeen)
                                {
                                <tr>
                                    <td>@N.Notification.TextArabe @N.Notification.TextFrancais</td>


                                </tr>
                                }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>contenu</th>


                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>